.main {
  @apply w-screen h-screen p-4
  grid grid-cols-2 gap-4 sm:gap-10
  text-white bg-gray-800 overflow-x-hidden overflow-y-hidden
}

.form {
  @apply py-4 w-full
  flex flex-col items-center
  md:[&>p]:text-2xl [&>p]:text-lg
  md:[&>div>p]:text-2xl [&>div>p]:text-lg
}

.formTitle {
  @apply flex sm:flex-row flex-col gap-2 items-center [&>div>button]:uppercase
}

.input {
  @apply sm:text-lg border-2 border-slate-300 rounded-md
  max-w-[400px] w-full focus:outline-none bg-slate-800 px-3 py-3
}

.content {
  @apply h-[80vh] w-full p-2 sm:p-5 overflow-y-auto overflow-x-hidden
  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-7 items-center justify-center
  text-white border-slate-400 border-2 rounded-lg
}

.item {
  @apply w-full h-[300px] overflow-y-hidden overflow-x-hidden p-4
  flex flex-col gap-4
  border-[1px] border-slate-500 rounded-md
text-gray-400 [&>p>span]:text-white
}

.img {
  @apply w-[120px] h-[120px]
  flex items-center justify-center
  text-2xl rounded-md
}

.status {
  @apply text-2xl h-[100px]
  flex items-center justify-center
  md:col-span-3 sm:col-span-2 lg:col-span-4
}